/* define font for all parts of page */
html *
{
  /*font-family: Helvetica Neue, Helvetica,Arial, sans-serif;*/
  font-family: Palatino, 'Palatino Linotype', serif !important;
  font-size: medium !important;
}

div {
  /*width: 1000px;*/
  word-wrap: break-word;
  /*display: table-cell;*/
  padding-bottom: 10px;
}

h1 {
  font-size: medium;
}

h2 {
  margin-top: 30px;
}

body {
   font-size: medium !important;
   color: #000 !important;
}

/* style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* add an active class to highlight the current page */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

/* hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

/* define button style */
button {
  background-color: #000;
  border-color: #000;
  border-radius: 25px;
  color: white;
  text-align: center;
  vertical-align: middle;
}

/* define details box style */
.details_box {
  display: none;
  margin-left: 40px;
}

p {
  line-height: 1.5;
}
